* {
	margin: 0;
	padding: 0;
}

body{
	font-family: Helvetica;
	margin-bottom: 3%;
}

h1{
	text-align: center;
}

.theNavbar{
	text-align: center;
	font-weight: bold;
}

.theNavbar li{
	display: inline-block;
	padding-left: 1em;
	padding-right: 0.25em;
	font-size: 100%;
}

.theNavbar a{
	color: white;
	text-decoration: none;
}

.theNavbar a:visited{
	color: white;
}

.banner{
	background-color: #2f524f;
	color: white;
	padding: 1em;
}

.banner2{
	background-color: yellow;
	text-align: center;
	font-size: 100%;
	padding: 0.4em;
	font-weight: normal;
}

.content{
	margin-left: 8%;
	margin-right: 8%;

}

.heading{
	text-align: center;
	padding: 0.5em;
	/*background-color: grey;*/
}

.info{
	margin-left: 2%;
	margin-right: 2%;
	line-height: 1.3;
	/*background-color: lightgrey;*/
}

.maininfo p{
    margin-left: 2%;
	margin-right: 2%;
	line-height: 1.3;
    margin-bottom: 1em;
}

.images{
    margin-left: 2%;
	margin-right: 2%;
	line-height: 1.3;
	/*background-color: lightgrey;*/
}

.mainpic{
	text-align: center;
}

.socialmedia{
    text-align: center;
}



